.table-fluid {
  font-family: $table-font-family;
  font-size: $table-font-size;
  border-collapse: collapse;
  width: 100%;

  > * {
    > tr {
      > th,
      > td {
        border-width: 1px;
        border-style: solid;
        text-align: center;

        &:first-child {
          text-align: left;
        }
      }

      > th {
        font-weight: $th-font-weight;
        background-color: $th-bg-color;
        border-color: $th-border-color-tb $th-border-color-rl;
        padding: $th-padding-tb $th-padding-rl;
        color: $th-color;

        &:first-child {
          border-left-color: $th-border-color-tb;
        }

        &:last-child {
          border-right-color: $th-border-color-tb;
        }
      }

      > td {
        font-weight: $td-font-weight;
        border-color: $td-border-color-tb $td-border-color-rl;
        padding: $td-padding-tb $td-padding-rl;
        color: $td-color;
      }

      &:nth-child(odd) {
        > td {
          background-color: $td-odd-bg-color;
        }
      }

      &:nth-child(even) {
        > td {
          background-color: $td-even-bg-color;
        }
      }

      &:last-child {
        > td {
          border-bottom-color: $td-border-color-rl;
        }
      }
    }
  }

  @media (max-width: #{$table-media-tablet}) {
    > thead {
      display: none;
    }

    > * {
      > tr {
        &:nth-child(odd) {
          > td {
            background-color: transparent;

            &:before {
              border-color: $th-border-color-rl $th-border-color-tb;
              background-color: $th-bg-color;
            }

            > .table-cell {
              background-color: $td-odd-bg-color;
            }
          }
        }

        &:nth-child(even) {
          > td {
            &:before {
              border-color: lighten($th-border-color-rl, 3%) lighten($th-border-color-tb, 3%);
              background-color: lighten($th-bg-color, 3%);
            }
          }
        }

        > td {
          display: table;
          width: 100%;
          border: 0 none;
          padding: 0;

          &:first-child {
            &:before {
              border-top-color: $th-border-color-tb;
            }

            > .table-cell {
              border-top-color: $td-border-color-rl;
            }
          }

          &:last-child {
            &:before {
              border-bottom-color: $th-border-color-tb;
            }

            > .table-cell {
              border-bottom-color: $td-border-color-rl;
            }
          }

          &:before,
          > .table-cell {
            border-width: 1px 1px 0;
            border-style: solid;
            display: table-cell;
            padding: $td-padding-tb $td-padding-rl;
          }

          &:before {
            font-weight: $th-font-weight;
            content: attr(data-th);
            color: $th-color;
            text-align: left;
            width: 50%;
          }

          > .table-cell {
            border-color: $td-border-color-tb $td-border-color-rl;
            text-align: center;
          }
        }

        &:last-child {
          > td:last-child {
            &:before,
            > .table-cell {
              border-bottom-width: 1px;
            }
          }
        }
      }
    }
  }

  @media (max-width: #{$table-media-mobile}) {
    > * {
      > tr {
        display: block;

        + tr {
          margin-top: $table-row-gap-mobile;
        }

        &:nth-child(odd) {
          > td {
            &:before {
              border-color: lighten($th-border-color-tb, 3%);
            }
          }
        }

        &:nth-child(even) {
          > td {
            &:before {
              border-color: $th-border-color-tb;
            }
          }
        }

        > td {
          &:before,
          > .table-cell {
            display: block;
            width: auto;
          }

          &:before {
            border-bottom-width: 1px;
          }

          > .table-cell {
            border-width: 0 1px;
            text-align: left;
          }

          &:last-child {
            > .table-cell {
              border-bottom-width: 1px;
            }
          }
        }
      }
    }
  }
}
