.table-fluid {
  /* Default table styles. */
  --table-font-family: #{$table-font-family};
  --table-font-size: #{$table-font-size};
  --table-row-gap-mobile: #{$table-row-gap-mobile};

  /* Table Head styles. */
  --th-font-weight: #{$th-font-weight};
  --th-bg-color: #{$th-bg-color};
  --th-border-color-tb: #{$th-border-color-tb};
  --th-border-color-rl: #{$th-border-color-rl};
  --th-color: #{$th-color};
  --th-padding-tb: #{$th-padding-tb};
  --th-padding-rl: #{$th-padding-rl};
  --th-bg-color-lighten: #{lighten($th-bg-color, 3%)};
  --th-border-color-tb-lighten: #{lighten($th-border-color-tb, 3%)};
  --th-border-color-rl-lighten: #{lighten($th-border-color-rl, 3%)};

  /* Table Body styles. */
  --td-font-weight: #{$td-font-weight};
  --td-odd-bg-color: #{$td-odd-bg-color};
  --td-even-bg-color: #{$td-even-bg-color};
  --td-border-color-tb: #{$td-border-color-tb};
  --td-border-color-rl: #{$td-border-color-rl};
  --td-color: #{$td-color};
  --td-padding-tb: #{$td-padding-tb};
  --td-padding-rl: #{$td-padding-rl};

  font-family: var(--table-font-family);
  font-size: var(--table-font-size);
  border-collapse: collapse;
  width: 100%;

  > * {
    > tr {
      > th,
      > td {
        border-width: 1px;
        border-style: solid;
        text-align: center;

        &:first-child {
          text-align: left;
        }
      }

      > th {
        font-weight: var(--th-font-weight);
        background-color: var(--th-bg-color);
        border-color: var(--th-border-color-tb) var(--th-border-color-rl);
        padding: var(--th-padding-tb) var(--th-padding-rl);
        color: var(--th-color);

        &:first-child {
          border-left-color: var(--th-border-color-tb);
        }

        &:last-child {
          border-right-color: var(--th-border-color-tb);
        }
      }

      > td {
        font-weight: var(--td-font-weight);
        border-color: var(--td-border-color-tb) var(--td-border-color-rl);
        padding: var(--td-padding-tb) var(--td-padding-rl);
        color: var(--td-color);
      }

      &:nth-child(odd) {
        > td {
          background-color: var(--td-odd-bg-color);
        }
      }

      &:nth-child(even) {
        > td {
          background-color: var(--td-even-bg-color);
        }
      }

      &:last-child {
        > td {
          border-bottom-color: var(--td-border-color-rl);
        }
      }
    }
  }

  @media (max-width: #{$table-media-tablet}) {
    > thead {
      display: none;
    }

    > * {
      > tr {
        &:nth-child(odd) {
          > td {
            background-color: transparent;

            &:before {
              border-color: var(--th-border-color-rl) var(--th-border-color-tb);
              background-color: var(--th-bg-color);
            }

            > .table-cell {
              background-color: var(--td-odd-bg-color);
            }
          }
        }

        &:nth-child(even) {
          > td {
            &:before {
              border-color: var(--th-border-color-rl-lighten) var(--th-border-color-tb-lighten);
              background-color: var(--th-bg-color-lighten);
            }
          }
        }

        > td {
          display: table;
          width: 100%;
          border: 0 none;
          padding: 0;

          &:first-child {
            &:before {
              border-top-color: var(--th-border-color-tb);
            }

            > .table-cell {
              border-top-color: var(--td-border-color-rl);
            }
          }

          &:last-child {
            &:before {
              border-bottom-color: var(--th-border-color-tb);
            }

            > .table-cell {
              border-bottom-color: var(--td-border-color-rl);
            }
          }

          &:before,
          > .table-cell {
            border-width: 1px 1px 0;
            border-style: solid;
            display: table-cell;
            padding: var(--td-padding-tb) var(--td-padding-rl);
          }

          &:before {
            font-weight: var(--th-font-weight);
            content: attr(data-th);
            color: var(--th-color);
            text-align: left;
            width: 50%;
          }

          > .table-cell {
            border-color: var(--td-border-color-tb) var(--td-border-color-rl);
            text-align: center;
          }
        }

        &:last-child {
          > td:last-child {
            &:before,
            > .table-cell {
              border-bottom-width: 1px;
            }
          }
        }
      }
    }
  }

  @media (max-width: #{$table-media-mobile}) {
    > * {
      > tr {
        display: block;

        + tr {
          margin-top: var(--table-row-gap-mobile);
        }

        &:nth-child(odd) {
          > td {
            &:before {
              border-color: var(--th-border-color-tb);
            }
          }
        }

        &:nth-child(even) {
          > td {
            &:before {
              border-color: var(--th-border-color-tb-lighten);
            }
          }
        }

        > td {
          &:before,
          > .table-cell {
            display: block;
            width: auto;
          }

          &:before {
            border-bottom-width: 1px;
          }

          > .table-cell {
            border-width: 0 1px;
            text-align: left;
          }

          &:last-child {
            > .table-cell {
              border-bottom-width: 1px;
            }
          }
        }
      }
    }
  }
}
