// Media breakpoints.
$table-media-tablet: 767px !default;
$table-media-mobile: 575px !default;

// Default table styles.
$table-font-family: inherit !default;
$table-font-size: inherit !default;
$table-row-gap-mobile: 40px !default;

// Table Head styles.
$th-font-weight: bold !default;
$th-bg-color: #39966c !default;
$th-border-color-tb: #256246 !default;
$th-border-color-rl: #338761 !default;
$th-color: #ffffff !default;
$th-padding-tb: 15px !default;
$th-padding-rl: 15px !default;
// Style variables for tablet and mobile only.
$th-even-bg-color: lighten($th-bg-color, 3%) !default;
$th-even-border-color-tb: lighten($th-border-color-tb, 3%) !default;
$th-even-border-color-rl: lighten($th-border-color-rl, 3%) !default;

// Table Body styles.
$td-font-weight: inherit !default;
$td-odd-bg-color: #f7f7f7 !default;
$td-even-bg-color: #ffffff !default;
$td-border-color-tb: #e5e5e5 !default;
$td-border-color-rl: #b2b2b2 !default;
$td-color: inherit !default;
$td-padding-tb: 15px !default;
$td-padding-rl: 15px !default;
